@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

:root {
  --primary: 255, 111, 111;
  --black: 24, 24, 24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: all 0.15s ease-in;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0 10%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-header-1,
h1 {
  font-size: 32px;
  font-weight: 700;
}

.text-header-2,
h2 {
  font-size: 20px;
  font-weight: 700;
}

.text-header-3,
h3 {
  font-size: 18px;
  font-weight: 600;
}

.text-large {
  font-size: 18px;
  font-weight: 400;
}

.text-medium {
  font-size: 16px;
  font-weight: 400;
}

.text-small {
  font-size: 14px;
  font-weight: 400;
}

.hidden {
  display: none;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
